# --- Сборка и временные файлы Java ---
target/
*.class
*.jar
*.war
*.ear

# --- Настройки IntelliJ IDEA ---
.idea/
*.iml
out/
gen/

# --- Логи и временные данные ---
*.log
tmp/

# --- Конфиденциальность (ВАЖНО) ---
# Мы скрываем настройки базы данных, чтобы никто не увидел наш пароль от MySQL
src/main/resources/application.properties

# --- Системные файлы ---
.DS_Store
Thumbs.db